<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div align="center" style="font-size:20px">도서 전체보기</div>
    <br>
    <div th:if="${count}==0" align="center">관련된 상품이 존재하지 않습니다.</div>
    <div  th:unless="${count}==0">
        <table class="type1"align="center" border="2">
            <tr>
                <th>상품이미지</th>
                <th>상품명</th>
                <th>상품가격</th>
            </tr>
            <tr th:each="book : ${bookAll}" th:object="${book}">
                <td>이미지 넣어야함</td>
                <td>
                    <a th:href="@{/product_detail/{productId}(productId=*{productId})}" th:text="*{productName}"></a>
                    <input type="hidden" name="productId" th:value="*{productId}">
                </td>
                <td th:text="*{productPrice}+원"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>