<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <form th:each="one : ${product}" th:object="${one}">
        <div>
            [[*{mainCategory}]] > [[*{subCategory}]]
        </div>

        <hr>

        <div class="productOneTitle">
            <div>
                <img th:src="*{imgUrl}">상품 이미지
            </div>
            <div>
                <h3>[[*{productName}]]</h3>
                <h4 align="right">[[*{productPrice}]]원</h4>
                <form method="post">
                    수량 : <input type="number" name="productStock"
                                th:max="*{productStock}" min="1" value="1">
                    <input type="hidden" name="productId" th:value="*{productId}">
                    <input type="hidden" name="productPrice" th:value="*{productPrice}">

                    <input th:if="${loginUserCartId}!=null" type="hidden" name="username" th:value="${loginUsername}">
<!--                    <button type="submit" onclick="addToCart()">장바구니에 넣기</button>-->
                    <input type="submit" name="cart" th:formaction="@{/cart/add_one}" value="장바구니에 넣기">
                    <input type="submit" name="buy" th:formaction="@{/buy/add_one}" value="구매하기">
                </form>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">상품설명</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">리뷰</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">문의</a>
            </li>
        </ul>
    </form>

</div>
</body>
</html>