<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- JavaScript 추가 -->
<!--    <script type="text/javascript">-->
<!--        function addToCart() {-->
<!--            alert("상품이 장바구니에 담겼습니다.");-->
<!--        }-->
<!--    </script>-->

</head>
<body>

<div layout:fragment="content">
    <br>
    <form th:object="${product}" th:action="@{/product_detail/cart_and_buy}" method="post">
        <div>
            [[${product.mainCategory}]] > [[${product.subCategory}]]
        </div>

        <hr>

        <div class="productOneTitle">
            <div>
                <img th:src="${product.imgUrl}">상품 이미지
            </div>
            <div>
                <h3>[[${product.productName}]]</h3>
                <h4 align="right">[[${product.productPrice}]]원</h4>
                <div align="right">
                <span th:if="*{productStock}<30">품절임박<br>남은재고 : [[*{productStock}]]</span>
                    <span th:unless="*{productStock}<30"></span>
                </div>
            </div>
<!--            <input type="hidden" name="product" th:value="${product}">-->
            <input type="hidden" name="price" th:value="*{productPrice}">
            <input type="number" name="count" th:max="${productStock}" value="1" min="1">
            <input type="hidden" name="productId" th:value="*{productId}">
            <input type="hidden" name="loginUsername" th:value="${loginUsername}">
<!--            <button type="submit" name="action" value="cart" onclick="addToCart()">장바구니에 넣기-->
<!--            </button>   -->
            <button type="submit" name="action" value="cart">장바구니에 넣기
        </button>
            <button type="submit" name="action" value="buy">구매하기</button>
        </div>
        <br>

        <!-- 탭 메뉴 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="content-tab" data-bs-toggle="tab"
                        data-bs-target="#content" type="button" role="tab" aria-controls="content"
                        aria-selected="true">상품정보</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="review-tab" data-bs-toggle="tab"
                        data-bs-target="#review" type="button" role="tab"
                        aria-controls="review" aria-selected="false">리뷰</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="question-tab" data-bs-toggle="tab"
                        data-bs-target="#question" type="button" role="tab"
                        aria-controls="question" aria-selected="false">문의</button>
            </li>
        </ul>

        <!-- 내용 -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="content" role="tabpanel"
                 aria-labelledby="content-tab"><span th:text="*{content}"></span></div>
            <div class="tab-pane fade" id="review" role="tabpanel"
                 aria-labelledby="review-tab">리뷰리스트 탭</div>
            <div class="tab-pane fade" id="question" role="tabpanel"
                 aria-labelledby="question-tab">
                문의사항 작성하기...
            </div>
        </div>


    </form>

</div>
</body>
</html>