<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<div th:fragment="header">
    <div>
        <a href="/"  class="header"> 쇼핑몰 project </a>
    </div>
    <hr class="hr1">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background color:none">
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="#">Navbar</a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="dropmenu">
                            <ul>
                                <li><a href="#" th:href="@{/outer}" >인형</a>
                                    <ul>

                                        <li><a href="#">사람인형</a></li>
                                        <li><a href="#">동물인형</a></li>
                                        <li><a href="#">캐릭터인형</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" id="current">완구</a>
                                    <ul>
                                        <li><a href="#">레고</a></li>
                                        <li><a href="#">실외장난감</a></li>
                                        <li><a href="#">촉각놀이</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" >도서전집</a>
                                    <ul>
                                        <li><a href="#">동화</a></li>
                                        <li><a href="#">위인전</a></li>
                                        <li><a href="#">영어도서</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                </ul>
                <form class="d-flex">
                    <a class="btn1" role="button"  th:href="@{/outer}" aria-expanded="false">
                        로그인
                    </a>
                    <a class="btn1" role="button"  th:href="@{/outer}" aria-expanded="false">
                        회원가입
                    </a>
                    <a class="btn1" role="button"  th:href="@{/outer}" aria-expanded="false">
                        로그아웃
                    </a>
<!--                    <a class="btn1" role="button"  th:href="@{/outer}" aria-expanded="false">-->
<!--                        마이페이지-->
<!--                    </a>-->
                </form>
<!--                <form class="d-flex" role="search">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
            </div>
<!--        </div>-->
    </nav>
</div>

</html>