<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myCart_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <br>
    <h2 align="center">장바구니</h2>
    <br>
    <div th:if="${size}==0">장바구니가 비어있습니다.</div>
    <div th:unless="${size}==0">
        <table class="type1" align="center" border="2">
            <tr>
                <th>상품명</th>
                <th>수량</th>
                <th>가격</th>
                <th>변경</th>
            </tr>

                <tr th:each="my : ${myCart}" th:object="${my}">

                    <td th:text="${my.productName}">
                        상품명
                    </td>
                    <td>
                        <form id="modifyForm" th:action="@{/cart/modify}" method="post">
                            <input type="hidden" th:value="*{cartProductId}" name="cartProductId">
                            <input type="number" th:value="${my.count}" name="count">
                            <input type="submit" name="change" value="수정">
                        </form>
                    </td>
                    <td th:text="${my.productPrice}*${my.count}">가격</td>
                    <td>
                        <a th:href="@{/cart/delete/{cartProductId}(cartProductId=*{cartProductId})}"
                           type="submit">삭제</a>
                    </td>
                </tr>
        </table>
        <br>
        <div align="center"><a th:href="@{/buy}">전체구매하기</a> </div>
    </div>

</div>

</body>
</html>