<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myCart_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <br>
    <h2 align="center">장바구니</h2>
    <br>
    <div th:if="${size}==0">장바구니가 비어있습니다.</div>
    <div th:unless="${size}==0">
        <form th:object="${myCart}">
            <table class="type1"align="center" border="2">
                <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>변경</th>
                </tr>
                <tr th:each="my : ${myCart}">
                    <td th:text="${my.productName}">상품명</td>
                    <td>
                        <input type="number" th:value="${my.count}" name="changeCount">수량
                    </td>
                    <td th:text="${my.productPrice}*${my.count}">가격</td>
                    <td>
                        <button type="submit" name="change" value="change"
                        formaction="/">수정</button>
                        <button type="submit" name="delete" value="delete"
                        formaction="/">삭제</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>