html{
position : relative;
min-height: 100%;
margin:0;
}

body {
  font-family: "pretendard Variable",sans-serif;
  word-break: keep-all;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header{
  text-decoration: none;
  font-size: 30px;
  display: flex;
align-items: center;
  justify-content: center;
    color: rgb(58, 155, 69);
    font-weight:700;
}

.container {
  /* border: 1px solid black; */
  margin: 1px;
  padding: 10px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 10px;
  display: flex;
align-items: center;
  justify-content: center;
}
.item {
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;

  color: black;
  background-color: #ffffff;
  height: 50px;
  width: 100px;
  line-height : 50px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.item:hover {
  background-color: #ffdc5e;
}

.footer{
position : absolute;
left : 0;
right : 0;
bottom : 0;
width : 100%;
padding : 15px 0;
}

.hr1 {
width : 60%;
   margin-left : auto;
   margin-right : auto;
}

.content{
  justify-content: center;
  text-align: center;
  align-items: center;
     margin-left : auto;
     margin-right : auto;
}

table.type1{
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;

       margin-left : auto;
       margin-right : auto;
}
table.type1 th {
  width: 155px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: rgb(58, 155, 69) ;
}
table.type1 td {
  width: 155px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
}

.btn1{
  text-decoration: none;
  width: 70px;
  padding: 10px;
  vertical-align: top;
  color : black;
  font-size : 15px;
}



.dropmenu{
border:none;
border:0px;
margin:0px;
padding:0px;
font: "sans-serif";
font-size:18px;
}

.dropmenu ul{
background: #666;
height:100px;
list-style:none;
margin:0;
padding:0;
}

.dropmenu li{
float:left;
padding:0px;
}

.dropmenu li a{
background: #666;
color:#fff;
display:block;
line-height:100px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.dropmenu li a:hover, .dropmenu ul li:hover a{
background: rgb(31,31,31);
color:#FFFFFF;
text-decoration:none;
}

.dropmenu li ul{
background: red;
display:none;
height:auto;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.dropmenu li:hover ul{
display:block;
}

.dropmenu li li {
background: red;
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.dropmenu li:hover li a{
background:none;
}

.dropmenu li ul a{
display:block;
height:80px;
font-size:14px;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.dropmenu li ul a:hover, .dropmenu li ul li:hover a{
background: rgb(171,171,171);
border:0px;
color:#ffffff;
text-decoration:none;
}

.dropmenu p{
clear:left;
}

table.type1{
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;

       margin-left : auto;
       margin-right : auto;
}
table.type1 th {
  width: 155px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: rgb(58, 155, 69) ;
}
table.type1 td {
  width: 155px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
}